
@{
    Layout = "_Layout";
}

@model User;

<div class="mt-3">
    <p>Hello, @Model.Name!</p>
</div>
<div class="button-container">
    <div class="btn-container">
        <a class="btn btn-primary" href="/home/data/@Model.Id" role="button">Change data</a>
    </div>
    <div class="btn-container">
        <a class="btn btn-primary" href="/home/articles" role="button">Browse my articles</a>
    </div>
    <div class="btn-container">
        <a class="btn btn-primary" href="/home/addarticle" role="button">Add article</a>
    </div>
    <div class="btn-container">
        <a class="btn btn-primary" href="/home/main" role="button">Main</a>
    </div>
    <div class="btn-container">
        <a class="btn btn-primary" href="/home/logout" role="button">Log out</a>
    </div>
</div>

<div class="mt-3">
    <p><b>Joke of the day:</b></></p>
    @{
        var joke = await API.Generate();

        if (joke != null)
        {
            <p><i>@joke<i/></p>
        }
    }
</div>



