
@{
    Layout = null;
}


<ul class="navbar-nav flex-grow-1">
    @if (User.Identity.IsAuthenticated)
    {
        <li class="nav-item">
            <span>@User.Identity.Name</span>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Logout">LogOut</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Login">Login</a>
        </li>
    }
</ul>

