@{
    Layout = "_Layout";
}

@model List<Article>;

<my-article-list articles="@Model"/>
<div class="text-center">
    <a class="btn btn-primary col-md-3" href="/home/admin" role="button">Back</a>
</div>

<script>
    function showDeleteConfirmation(articleId, event) {
        var result = confirm('Are you sure you want to delete this article?');
        event.stopPropagation();
        if (result) {
            window.location.href = '/home/delete/' + articleId;
        }
    }
</script>
