
@model User

<div class="container-fluid">
    <div class="row justify-content-center align-items-center" style="height: 80vh;">
        <div class="col-md-6 border rounded p-3">
            <form asp-controller="Home" asp-action="Login" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger alert alert-danger"></div>

                <div class="form-group">
                    <label asp-for="Email" class="form-label"></label>
                    <input asp-for="Email" class="form-control form-control-custom" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="form-label"></label>
                    <input asp-for="Password" class="form-control form-control-custom" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-group mt-3">
                    @Html.AntiForgeryToken()
                    <button type="submit" class="btn btn-primary">Entry</button>
                </div>
            </form>
        </div>
    </div>
</div>
