@{
    Layout = "_Layout";
}

@model List<Article>;

<article-list articles="@Model"></article-list>

<div class="text-center">
    <a class="col-md-3 btn btn-primary" href="/home/login" role="button">Continue...</a>
</div>